<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOSPet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0CD19D31EAD53100050A3FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0CD19E71EAD53100050A3FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0CD19F21EAD53110050A3FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
